/* Main */
body{
    background-image: url('images.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    margin-top: 4px;
}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.vertical{
    width: 45%;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    border: solid 1px black;
}
.vertical .hijo{
    display: block;
}
.vertical .padre{
    flex-direction: column;
}
.horizontal{
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    border: solid 1px black;
    background-color: rgb(255, 255, 255);

}
.horizontal .padre{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.horizontal .hijo{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.horizontal .nieto1 {
    width: 60%;
}
.horizontal .description {
    width: 20%;
    text-align: left;
}
.horizontal .dinamico {
    width: 20%;
}
.horizontal img{
    margin: 3px 3px 3px;
    width: 192px;
    height: 108px;
}
.horizontal .dinamico div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.horizontal .dinamico div button{
    margin-top: 3px;
    margin-right: 3px;
}
.vertical img {
    margin: 3px 3px 3px;
}
.aditional-info{
    margin: 3px 3px 3px 3px ;
}
.aditional-info{
    background-color: rgb(154, 149, 149);
    justify-content: center;
    padding: 2px 2px 2px 2px;
}
.more{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.vertical div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.vertical .dinamico {
    display: flex;
    justify-content: center;
    width: 100%;
}
.vertical div button{
    width: 10%;
    margin-top: 3px;
    margin-right: 3px;
}
.spinner{
    height: 100px;
    width: 100px;
    justify-self: center;
}
.fas{
    cursor: pointer;
}
.botonX{
    cursor: pointer;
}
.masTarjetas{
    cursor: pointer;
}
footer{
    background-image: url('white-abstract-background_23-2148810113.webp');
    border: solid 2px black;
    margin-top: 10px;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
/* Header */
header{
    background-image: url('white-abstract-background_23-2148810113.webp');
    display: flex;
    border: 2px solid black;
}

.section1{
    position: relative;
    padding: 20px;
    font-family: 'Philosopher', sans-serif;
}
.icono1{
padding: 20px;
}
.section2{
    position: relative;
    left: 75px;
    top: 20px;
}
.formaction{
    position: relative;
    right: 25px;
}

@media (min-width: 768px){
    .vertical {
        width: 30%;
        height: auto;
        margin: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 5px;
        border: solid 1px black;
    }
    /* Header */
    header{
        display: flex;
        justify-content: center;
        border: 2px solid black;
    }
    section{
        margin-left: 25px;
        margin-right: 25px;
    }
    .section1{
        position: relative;
        right: 200px;
    }
    .section2{
        position: relative;
        left: 150px;
    }
}
@media (min-width: 1024px){
    .vertical {
        width: 22.5%;
        height: auto;
        margin: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 5px;
        border: solid 1px black;
    }
    /* Header */
    header{
        display: flex;
        justify-content: center;
        border: 2px solid black;
    }
    .section1{
        position: relative;
        right: 450px;
    }
    .section2{
        position: relative;
        left: 450px;
    }
}